body {
  background: linear-gradient(to bottom, #3d0a47, #3d0a47);
}

#logo {
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: -20px;
  margin: -0px;
}

.card {
  margin: 0 auto;
  background-color: rgba(64, 245, 191, 0.418);
  color: white;
}

.texto-bienvenido {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}


.nav-link {
    color: white; 
    font-size: 18px; 
  }
  
  .nav-item {
    margin-right: 15px; 
  }
  
  .texto-bienvenido {
    color: white; 
    text-align: center;
    font-size: 24px; 
    margin-top: 20px;
  }
  
  
  
  
  
  
